* {
  box-sizing: border-box; }

.pivot-container {
  font-size: 12px; }
  .pivot-container .field-item {
    padding: 5px 10px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    line-height: 20px; }
  .pivot-container .list-header {
    padding: 5px 10px;
    border-bottom: 1px solid #d5d5d5;
    background: #f7f7f7; }
  .pivot-container .pivot-field-list {
    margin-right: 5px;
    width: 150px;
    flex: none;
    border: 1px solid #d5d5d5;
    overflow: auto; }
  .pivot-container .drop-column-wrapper,
  .pivot-container .drop-row-wrapper,
  .pivot-container .drop-value-wrapper {
    display: flex;
    border: 1px solid #d5d5d5;
    margin-bottom: 5px; }
    .pivot-container .drop-column-wrapper .drop-field-label,
    .pivot-container .drop-row-wrapper .drop-field-label,
    .pivot-container .drop-value-wrapper .drop-field-label {
      padding: 5px 8px;
      flex: none;
      border-right: 1px solid #d5d5d5;
      background: #f7f7f7; }
    .pivot-container .drop-column-wrapper .drop-field-list,
    .pivot-container .drop-row-wrapper .drop-field-list,
    .pivot-container .drop-value-wrapper .drop-field-list {
      flex: 1 1; }
  .pivot-container .field-drop-list {
    height: 100%; }
    .pivot-container .field-drop-list.can-drop {
      background: #effef3; }
    .pivot-container .field-drop-list.is-over {
      background: #c6ffd5; }
    .pivot-container .field-drop-list .field-drop-item {
      display: inline-block;
      height: 26px;
      padding: 1px 1px;
      border: 1px solid transparent; }
      .pivot-container .field-drop-list .field-drop-item.hover-dir-left {
        border-left: 1px solid green; }
      .pivot-container .field-drop-list .field-drop-item.hover-dir-right {
        border-right: 1px solid green; }
      .pivot-container .field-drop-list .field-drop-item-inner {
        cursor: pointer;
        margin-top: 2px;
        border-radius: 5px;
        padding: 1px 10px;
        background: #efefef; }
      .pivot-container .field-drop-list .field-drop-item .item-close {
        vertical-align: top;
        display: inline-block;
        padding: 0 2px; }
  .pivot-container .pivot-field-result {
    flex: 1 1;
    display: flex;
    flex-direction: column; }
    .pivot-container .pivot-field-result .result-drop {
      flex: none; }
    .pivot-container .pivot-field-result .result-data {
      border: 1px solid #d5d5d5;
      overflow: auto;
      flex: 1 1; }

.pivot-container-02 {
  font-size: 12px; }
  .pivot-container-02 .field-item {
    padding: 5px 10px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    line-height: 20px; }
  .pivot-container-02 .list-header {
    padding: 5px 10px;
    border-bottom: 1px solid #d5d5d5;
    background: #f7f7f7; }
  .pivot-container-02 .pivot-field-list {
    margin-right: 5px;
    width: 150px;
    flex: none;
    border: 1px solid #d5d5d5;
    overflow: auto; }
  .pivot-container-02 .drop-column-wrapper,
  .pivot-container-02 .drop-row-wrapper,
  .pivot-container-02 .drop-value-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    border: 1px solid #d5d5d5;
    margin-bottom: 5px;
    margin-right: 5px; }
    .pivot-container-02 .drop-column-wrapper .drop-field-label,
    .pivot-container-02 .drop-row-wrapper .drop-field-label,
    .pivot-container-02 .drop-value-wrapper .drop-field-label {
      padding: 5px 10px;
      border-bottom: 1px solid #d5d5d5;
      background: #f7f7f7;
      flex: none; }
    .pivot-container-02 .drop-column-wrapper .drop-field-list,
    .pivot-container-02 .drop-row-wrapper .drop-field-list,
    .pivot-container-02 .drop-value-wrapper .drop-field-list {
      flex: 1 1;
      overflow: auto; }
  .pivot-container-02 .field-drop-list {
    height: 100%; }
    .pivot-container-02 .field-drop-list.can-drop {
      background: #effef3; }
    .pivot-container-02 .field-drop-list.is-over {
      background: #c6ffd5; }
    .pivot-container-02 .field-drop-list .field-drop-item {
      padding: 1px;
      padding-bottom: 0;
      border: 1px solid transparent;
      background: #fff; }
      .pivot-container-02 .field-drop-list .field-drop-item.hover-dir-up {
        border-top: 1px solid green; }
      .pivot-container-02 .field-drop-list .field-drop-item.hover-dir-down {
        border-bottom: 1px solid green; }
      .pivot-container-02 .field-drop-list .field-drop-item-inner {
        cursor: pointer;
        padding: 3px 10px;
        border: 1px solid #f2f2f2;
        cursor: pointer;
        line-height: 20px; }
      .pivot-container-02 .field-drop-list .field-drop-item .item-close {
        float: right;
        vertical-align: top;
        display: inline-block;
        padding: 0 2px; }
  .pivot-container-02 .pivot-field-result {
    flex: 1 1;
    display: flex;
    flex-direction: column; }
    .pivot-container-02 .pivot-field-result .result-drop {
      flex: none;
      height: 250px;
      display: flex; }
    .pivot-container-02 .pivot-field-result .result-data {
      border: 1px solid #d5d5d5;
      overflow: auto;
      flex: 1 1; }

* {
  box-sizing: border-box; }

.app-demo {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .app-demo .left-nav {
    width: 170px;
    flex: none;
    border-right: 1px solid #ccc; }
    .app-demo .left-nav > a {
      display: block;
      padding: 10px 15px;
      text-decoration: none; }
      .app-demo .left-nav > a.active {
        background: #ccc; }
  .app-demo .container {
    flex: 1 1;
    overflow: auto; }


/*# sourceMappingURL=index.29efb165.chunk.css.map*/